.footer{
    background: linear-gradient(to right, #860227, #740261);
    padding: 10px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;
    font-size: 12px;
    border-top: 2px solid white;
}

.welcome-bg{
    background: linear-gradient(to right, #66026b, #7606e5);
    width: 100%;
    height: 100vh;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .text-animate {
    font-size: 15px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid black; /* Cursor effect */
    animation: typing 3s steps(12, end), blink 0.6s step-end infinite;
    animation-fill-mode: forwards; /* Ensure the final state of the animation persists */
  }
  
  .text-animate.no-cursor {
    border-right: none; /* Remove the blinking cursor after typing */
  }
  

    @keyframes borderAnimation {
      0% {
        border-color: #460875;
      }
      25% {
        border-color: #580361;
      }
      50% {
        border-color: #460690;
      }
      75% {
        border-color: #751065;
      }
      100% {
        border-color: #3e0732;
      }
    }

    .Welcome-but {
      background: linear-gradient(to right, #371352, #6c0340);
      border: 3px solid; /* Adjust thickness */
      padding: 5px 45px;
      border-radius: 6px;
      color: white;
      font-weight: 500;
      margin-top: 5px;
      animation: borderAnimation 3s infinite; /* Animation duration and looping */
    }

  .Welcome-but:hover{
    background-color: rgb(98, 22, 80);
  }




.screencover{
    width: 100%;
    height: 100vh;
}

  .ask-bg{
    background-image: url("../images/shina bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .ask-bg-blur{
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.919);
  }


  .form-group{
    margin-top: 10px;
  }

  .form-group p{
    font-size: 13px;
    margin-left: 3px;

  }

  input{
    padding: 3px 6px;
    border-radius: 3px;
    width: 200px;
    color: black;
  }

  .submit-btn{
    background-color: rgb(81, 2, 105);
    padding: 4px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
  }

  /* Gradient animation */
@keyframes gradientAnimation {
    0% {
        background-image: url("../images/shina bg.jpg");
    }
    50% {
        background-image: url("../images/shin 3.jpg");
    }
    100% {
        background-image: url("../images/shin 4.jpg");
    }
  }
  
  /* Apply the gradient animation */
  .bg-gradient {
    width: 100%;
    height: 100vh;
    animation: gradientAnimation 10s ease infinite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  
  .home-bg-blur{
    background-color: rgba(30, 30, 30, 0.949);
    width: 100%;
    height: 100vh;
  }

  .header{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 3px solid rgb(48, 48, 48);
  }
  .header-left{
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
  }

  .header img{
    width: 50px;
    margin-right: 10px;
  }

  .header-right button{
    margin-left: 10px;

  }

  .active{
    border-bottom: 2px solid white;
    
  }

  .question-button{
    background: linear-gradient(to right, rgb(53, 1, 90), #6c0348);
    padding: 4px 30px;
    border-radius: 5px;
    font-weight: 600;

  }


  .qandA{

  }

  .question-container{
    background: linear-gradient(45deg, rgb(56, 6, 110), rgb(0, 89, 111));
    border-radius: 10px;
  }


/* Slider container */
.slider-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    background: #000; /* Background color if no image fills */
  }
  
  /* Slider track for infinite scrolling */
  .slider-track {
    display: flex;
    width: calc(100% * 10); /* Adjust based on the number of images */
    animation: slide 20s linear infinite;
  }
  
  /* Individual slider image */
  .slider-image {
    flex: 0 0 auto;
    width: 50vw; /* Each image takes the full viewport width */
    height: 300px; /* Match the container height */
    background-size: cover;
    background-position: center;
  }
  
  /* Keyframes for infinite linear sliding */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust to slide half the track */
    }
  }

  .poem{
    font-family: 'Segoe UI';
    padding: 3px 20px;
    font-size: 13px;
    text-align: center;
  }
  








  .flow1-bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #640028, rgb(21, 21, 21));
    padding-bottom: 30px;
    overflow: auto; /* Enable scrolling */
    scrollbar-width: none; /* For Firefox */

  }
  .flow1-bg::-webkit-scrollbar {
    display: none;
  }

  .flow1-header{
    display: flex;
    align-items: center;
    padding: 10px 14px;
    justify-content: space-between;
  }
  .flow1-header img {
    width: 50px;
    height: 50px;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    border-radius: 50%; /* Optional: Makes the image circular */
    margin-right: 10px;
}
.flow1-header h1{
  color: white;
  font-size: 15px;
}

.flow-content{
  text-align: center;
}
.flow-content .img-gradianr-border{
  display: inline-block; /* Makes the container fit the image */
  background: linear-gradient(to right, #371352, #6c0340);
  border-radius: 22px; /* Slightly larger than the image for padding effect */
  padding: 4px; /* Space for the gradient border */
}
.flow-content img{
  width: 160px;
  border-radius: 20px;
  border: 2px solid linear-gradient(to right, #371352, #6c0340);
}
.flow-content .message{
  display: flex;
  justify-content: center;
  width: 300px;
  color: white;
  margin-top: 20px;
}

.flow-content button{
  background: linear-gradient(to right, #371352, #6c0340);
  padding: 5px 50px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
  
}
.flow-content button:hover{
  background: linear-gradient(to right, #450136, #4b128d);
  
}

.flow-2{
  width: 100%;
  overflow: hidden;
}

.flow-header{
  display: flex;
  justify-content: space-between;
  padding: 9px 10px;
  border-bottom: 2px solid rgb(103, 0, 69);
  background: linear-gradient(to right, #700303, #ffffff);
}

.menu-dropdown{
  position: absolute;
  color: white;
  right: 0;
  background: linear-gradient(to right, #9c0606, #2a2a2a);
  padding: 10px 20px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
}
.menu-dropdown ul{
  display: grid;
}
.menu-dropdown ul button{
  margin-top: 10px;
}

.flow-header-top{
  position: sticky;
  width: 100%;
}

.flow-footer{
  background: linear-gradient(to right, #700303, #000000);
  color: white;
  font-weight: 600;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  font-size: 12px;

}

.flow-scroll{
  width: 100%;
  height: 93vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  background-color: rgb(213, 135, 148);
  
}
.flow-scroll::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

.flow-footer-bot {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Ensure the footer stays above other content */
}

.flow-2-content{
  padding: 10px 10px 40px 10px;
  width: 100%;
  
}

.flow-2-content img{
  
}

.qandAbutton{
  background: linear-gradient(to right, #05679c, #6b0278);
  padding: 3px 50px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.color-survey-submit{
  color: rgb(5, 96, 26);
}

.button-survey{
  background: linear-gradient(to right, #05679c, #6b0278);
  font-weight: 600;
}

.colorimageh1{
  color: #d5d5d5;
}

.photo-gallery {
  column-count: 3; /* Number of columns */
  column-gap: 8px; /* Space between columns */
}

.photo-gallery-item {
  break-inside: avoid; /* Prevent items from breaking inside a column */
  margin-bottom: 8px; /* Space between rows */
  width: 100%; /* Let the browser handle aspect ratio */
  height: auto; /* Maintain original aspect ratio */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.photo-gallery-item:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
}

.enlarged-image-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 15px;
  background: linear-gradient(to right, #a30e6d, #042497);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.back-button:hover {
  background-color: #f0f0f0;
}



.emoji-container {
  width: 100%; /* Full width */
  overflow: hidden; /* Hide the overflow of the heart emojis */
  position: relative;
  padding: 3px 0; /* Adjust top and bottom padding */
}

.emoji-scroll {
  display: flex;
  white-space: nowrap; /* Prevent wrapping of the emojis */
  animation: scrollLeft 15s linear infinite; /* Scroll animation */
}

.heart-emoji {
  font-size: 20px; /* Size of the heart emoji */
  margin-right: 4px; /* Space between heart emojis */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%); /* Start from right side */
  }
  100% {
    transform: translateX(-100%); /* End on the left side */
  }
}


.christmas-uploaded-image{
  width: 60px;
}

.christmas-tree {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This ensures the content is spread out */
  height: 100%; /* Ensure the container takes full viewport height */
  padding-bottom: 20px;
  background-image: url("../images/christmas_tree-removebg-preview.png");
  background-position: center;  /* Adjust this value to move the image down */
  background-size: cover;
  padding: 10px;
}

.uploaded-content {
  flex-grow: 1; /* This allows the uploaded content section to take available space */
}

.upload-button {
  /* Your existing styles */
}

.file-input {
  /* Your existing styles */
}


.christmas-input{
  background: linear-gradient(to right, #8b0000, #02830f);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.christmas-file-input{
  width: 100px;
  border-radius: 5px;
}

.christmas-upload-button{
  background: linear-gradient(to right, #070f7e, #6c0459);
  color: rgb(16, 217, 70);
  padding: 2px 5px;
  margin-top: -5px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 10px;
}

.uploaded-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree-row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tree-row-0 {
  justify-content: center;
}

.tree-row-1 {
  justify-content: space-between;
  width: 70%;
}

.tree-row-2 {
  justify-content: space-between;
  width: 80%;
}

.tree-row-3 {
  justify-content: space-between;
  width: 90%;
}

.christmas-uploaded-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.modal-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: darkred;
}
